[Unit]
Description=Automatically rip inserted DVDs
After=dev-cdrom.device
BindsTo=dev-cdrom.device
Requisite=dev-cdrom.device

[Service]
UMask=0002
WorkingDirectory=/srv/storage/downloads/incoming
Type=oneshot
ExecStart=/home/tylerjl/.bin/rip-dvd.sh
ExecStart=/usr/bin/eject /dev/cdrom
StandardOutput=journal

[Install]
WantedBy=dev-cdrom.device
