[Unit]
Description=notify slack about recent journal entries
After=network.target

[Service]
WorkingDirectory=%h/.lib/ruby
ExecStart=/usr/bin/bundle exec /home/tylerjl/.bin/notify-slack.rb
StandardOutput=journal
StandardError=journal
EnvironmentFile=%h/.local/etc/slack
Restart=on-failure

[Install]
WantedBy=default.target
