[Unit]
Description=notify slack about recent journal entries
After=network.target

[Service]
ExecStart=/home/tylerjl/.bin/notify-slack.rb
StandardOutput=journal
StandardError=journal
EnvironmentFile=%h/.local/etc/slack
Restart=on-failure

[Install]
WantedBy=default.target
