[Unit]
Description=redeem ipt bonus points
Wants=notify-slack@%p.service
Before=notify-slack@%p.service

[Service]
Type=oneshot
ExecStart=/home/tylerjl/.bin/ribp.rb
StandardOutput=journal
