[Unit]
Description=redeem ipt bonus points

[Service]
WorkingDirectory=%h/.lib/ruby
ExecStart=/usr/bin/bundle exec /home/tylerjl/.bin/ribp.rb
Type=oneshot
StandardOutput=journal
EnvironmentFile=%h/.local/etc/iptorrents
