[Unit]
Description=prune old torrents

[Service]
WorkingDirectory=%h/.local/lib/ruby
ExecStart=/home/tylerjl/.rbenv/shims/bundle exec %h/.bin/prune-transmission.rb
Type=oneshot
StandardOutput=journal
