[Unit]
Description=check success of latest ZFS backups

[Service]
Type=oneshot
WorkingDirectory=%h/.lib/ruby
ExecStart=/usr/bin/bundle exec %h/.bin/zbc.rb
StandardOutput=journal
StandardError=journal
