[Unit]
Description=check success of latest ZFS backups

[Service]
Type=oneshot
ExecStart=/home/tylerjl/.bin/zbc.rb
StandardOutput=journal
StandardError=journal
